@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("/common/iconfont/icomoon.eot?vo54k5");
  src: url("/common/iconfont/icomoon.eot?vo54k5#iefix") format("embedded-opentype"), url("/common/iconfont/icomoon.ttf?vo54k5") format("truetype"), url("/common/iconfont/icomoon.woff?vo54k5") format("woff"), url("/common/iconfont/icomoon.svg?vo54k5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 14, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 메뉴아이콘 --------------------------------------------- */
/* line 37, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-pas-search:before {
  content: "\e91f";
  background: -webkit-linear-gradient(#009afa, #6e6cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 41, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-pcm_pay:before {
  content: "\e920";
  background: -webkit-linear-gradient(#009afa, #6e6cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 45, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-tam-work:before {
  content: "\e921";
  background: -webkit-linear-gradient(#009afa, #6e6cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 49, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-tam-commute:before {
  content: "\e922";
  background: -webkit-linear-gradient(#009afa, #6e6cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 53, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-orm:before {
  content: "\e938";
  background: -webkit-linear-gradient(#009afa, #6e6cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 57, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-pas-timeline:before {
  content: "\e924";
  background: -webkit-linear-gradient(#009afa, #6e6cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 61, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-sys-appl:before {
  content: "\e925";
  background: -webkit-linear-gradient(#009afa, #6e6cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 65, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-pas-stat:before {
  content: "\e926";
  background: -webkit-linear-gradient(#009afa, #6e6cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 69, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-pas-info:before {
  content: "\e92c";
  background: -webkit-linear-gradient(#009afa, #6e6cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 73, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-sys-alarm:before {
  content: "\e92d";
  background: -webkit-linear-gradient(#009afa, #6e6cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 77, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-tem_survey:before {
  content: "\e92e";
  background: -webkit-linear-gradient(#009afa, #6e6cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 81, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-sys-notice:before {
  content: "\e92f";
  background: -webkit-linear-gradient(#009afa, #6e6cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* 아이콘 --------------------------------------------- */
/* line 95, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-h-font-icon01:before {
  content: "\e900";
  color: #3a4654;
}

/* line 99, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-h-font-icon02:before {
  content: "\e901";
  color: #3a4654;
}

/* line 103, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-h-font-icon03:before {
  content: "\e902";
  color: #3a4654;
}

/* line 107, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-h-font-icon04:before {
  content: "\e903";
  /* @include iconColor2(); */
}

/* line 111, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-h-font-icon05:before {
  content: "\e904";
  /* @include iconColor2(); */
}

/* line 115, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-h-font-icon06:before {
  content: "\e905";
  /* @include iconColor2(); */
}

/* line 119, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-h-font-icon07:before {
  content: "\e906";
  /* @include iconColor2(); */
}

/* line 123, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-h-font-icon08:before {
  content: "\e907";
  /* @include iconColor2(); */
}

/* line 127, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-h-font-icon09:before {
  content: "\e908";
  /* @include iconColor2(); */
}

/* line 131, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-h-font-icon10:before {
  content: "\e909";
  /* @include iconColor2(); */
}

/* line 135, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-h-font-icon11:before {
  content: "\e910";
  /* @include iconColor2(); */
}

/* line 139, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-h-font-icon12:before {
  content: "\e911";
  /* @include iconColor2(); */
}

/* line 143, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-h-font-icon13:before {
  content: "\e912";
  /* @include iconColor2(); */
}

/* line 147, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-h-font-icon14:before {
  content: "\e913";
  /* @include iconColor2(); */
}

/* line 151, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-h-font-icon15:before {
  content: "\e914";
  /* @include iconColor2(); */
}

/* line 155, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-h-font-icon16:before {
  content: "\e915";
  /* @include iconColor2(); */
}

/* line 159, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-h-font-icon17:before {
  content: "\e916";
  /* @include iconColor2(); */
}

/* line 163, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-h-font-icon18:before {
  content: "\e917";
  /* @include iconColor2(); */
}

/* line 167, HUNEL_EHRS_WEB_STAND/sass/iconfont.scss */
.icon-h-font-icon19:before {
  content: "\e918";
  /* @include iconColor2(); */
}
