/* line 1, ../../../../sass/layout/header.scss */
.h-header {
  padding: 30px 150px;
  background-color: #fff;
}
/* line 3, ../../../../sass/layout/header.scss */
.h-header-link-wrap {
  display: flex;
  align-items: center;
}
/* line 6, ../../../../sass/layout/header.scss */
.h-header-link-wrap > a {
  margin-right: 15px;
  height: 16px;
}
/* line 9, ../../../../sass/layout/header.scss */
.h-header-link-wrap > a > img {
  vertical-align: top;
}
/* line 15, ../../../../sass/layout/header.scss */
.h-header-user-info-wrap {
  position: relative;
}
/* line 17, ../../../../sass/layout/header.scss */
.h-header-user-info-wrap > button {
  position: relative;
  min-width: 143px;
  height: 40px;
  padding: 0 40px 0 27px;
  background-color: #e5eafd;
  border-radius: 16px;
  font-size: 13px;
  color: #4e5983;
  text-align: left;
  background: url("/resource/images/ico/icon_arrow_bottom03.png") no-repeat 12px center #e5eafd;
  margin-left: 3px;
  border: 0;
}
/* line 30, ../../../../sass/layout/header.scss */
.h-header-user-info-wrap > button:before {
  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  right: 5px;
  top: 5px;
  border-radius: 50%;
  background: url("/resource/images/sample02.png") no-repeat;
}
/* line 42, ../../../../sass/layout/header.scss */
.h-header-user-info-wrap > ul {
  display: none;
}
/* line 43, ../../../../sass/layout/header.scss */
.h-header-user-info-wrap > .h-header-user-info {
  position: absolute;
  width: 435px;
  height: 285px;
  background-color: #fff;
  border-radius: 32px;
  box-shadow: 0px 2px 26px 2px #e1e1e1;
  top: 50px;
  right: -120px;
}

/* line 55, ../../../../sass/layout/header.scss */
.h-ani-layer-box {
  position: relative;
  margin-right: 25px;
  flex: 0 0 382px;
}

/* line 56, ../../../../sass/layout/header.scss */
.h-ani-layer {
  display: inline-block;
  text-align: center;
  border-radius: 14px;
  background-color: #fff;
  position: absolute;
  top: -30px;
  left: -60px;
  transition: 0.25s ease-in;
  padding: 30px;
  padding-top: 27px;
  box-sizing: border-box;
  border: 1px solid #fff;
  z-index: 20;
}
/* line 70, ../../../../sass/layout/header.scss */
.h-ani-layer.selected {
  left: -300px;
  /* height:732px; */
  border: 1px solid #c8cbd8;
  transition: 0.25s ease-in;
}
/* line 76, ../../../../sass/layout/header.scss */
.h-ani-layer.selected .h-search-area > input {
  width: 596px;
  border: 2px solid #00c3b3;
  color: #00c3b3;
}
/* line 80, ../../../../sass/layout/header.scss */
.h-ani-layer.selected .h-search-area > input::placeholder {
  font-size: 13px;
  color: #00c3b3;
}
/* line 85, ../../../../sass/layout/header.scss */
.h-ani-layer.selected .h-search-area > button {
  background: url("/resource/images/ico/icon_search02_on.png") no-repeat center;
}
/* line 89, ../../../../sass/layout/header.scss */
.h-ani-layer.selected .h-ani-layer-open-content {
  display: block;
}
/* line 94, ../../../../sass/layout/header.scss */
.h-ani-layer .h-search-area {
  position: relative;
}
/* line 96, ../../../../sass/layout/header.scss */
.h-ani-layer .h-search-area > input {
  padding: 0 10px;
  width: 362px;
  height: 40px;
  line-height: 40px;
  border: 0;
  font-size: 13px;
  color: #868daa;
  border-radius: 16px;
  transition: 0.25s ease-in;
  background: #f7f7f7;
  outline: 0;
  box-sizing: border-box;
}
/* line 108, ../../../../sass/layout/header.scss */
.h-ani-layer .h-search-area > input::placeholder {
  color: #868daa;
  font-size: 13px;
}
/* line 114, ../../../../sass/layout/header.scss */
.h-ani-layer .h-search-area > button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: url("/resource/images/ico/icon_search02.png") no-repeat center;
  border: 0;
  outline: 0;
}
/* line 122, ../../../../sass/layout/header.scss */
.h-ani-layer-open-content {
  display: none;
  overflow: auto;
}
/* line 125, ../../../../sass/layout/header.scss */
.h-ani-layer-open-content .h-ani-layer-section {
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 20px;
  margin-top: 20px;
}
/* line 129, ../../../../sass/layout/header.scss */
.h-ani-layer-open-content .h-ani-layer-section .h-ani-sub-title {
  flex: 1;
  font-size: 17px;
  font-weight: 700;
  color: #4e5983;
  margin-bottom: 20px;
  text-align: left;
}
/* line 137, ../../../../sass/layout/header.scss */
.h-ani-layer-open-content .h-ani-layer-section .h-ani-total-text {
  flex: 1;
  font-size: 13px;
  color: #4e5983;
  text-align: right;
}
/* line 142, ../../../../sass/layout/header.scss */
.h-ani-layer-open-content .h-ani-layer-section .h-ani-total-text .h-color-orange {
  color: #fb9c80;
}
/* line 146, ../../../../sass/layout/header.scss */
.h-ani-layer-open-content .h-ani-layer-section .h-basic-list {
  max-height: 200px;
  overflow: auto;
}
/* line 149, ../../../../sass/layout/header.scss */
.h-ani-layer-open-content .h-ani-layer-section .h-basic-list > li {
  font-size: 14px;
  color: #4e5983;
  text-align: left;
}
/* line 154, ../../../../sass/layout/header.scss */
.h-ani-layer-open-content .h-ani-layer-section .h-basic-list > li > a {
  font-size: inherit;
  color: inherit;
}
/* line 157, ../../../../sass/layout/header.scss */
.h-ani-layer-open-content .h-ani-layer-section .h-basic-list > li > a:hover {
  text-decoration: unset;
  color: inherit;
}
/* line 164, ../../../../sass/layout/header.scss */
.h-ani-layer-open-content .h-ani-layer-section .h-basic-list > li .h-img-area {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
/* line 170, ../../../../sass/layout/header.scss */
.h-ani-layer-open-content .h-ani-layer-section .h-basic-list > li .h-img-area > img {
  vertical-align: middle;
}
/* line 172, ../../../../sass/layout/header.scss */
.h-ani-layer-open-content .h-ani-layer-section .h-basic-list > li .h-btn-view-more {
  float: right;
  width: 4px;
  height: 20px;
  background: url("/resource/images/ico/icon_view_more.png") no-repeat;
  border: 0;
  text-indent: -999999px;
  overflow: hidden;
  margin-top: 8px;
}
/* line 182, ../../../../sass/layout/header.scss */
.h-ani-layer-open-content .h-ani-layer-section .h-basic-list > li:after {
  content: '';
  display: block;
  clear: both;
  text-indent: -999999px;
}
/* line 189, ../../../../sass/layout/header.scss */
.h-ani-layer-open-content .h-ani-layer-section .h-basic-list > li:hover {
  background-color: #f2f4fe;
  border-radius: 17px;
}
/* line 196, ../../../../sass/layout/header.scss */
.h-ani-layer-open-content .h-ani-layer-section .h-basic-list.h-type01 > li {
  padding: 15px 30px;
}
/* line 199, ../../../../sass/layout/header.scss */
.h-ani-layer-open-content .h-ani-layer-section .h-basic-list.h-type02 > li {
  padding: 13.5px 30px;
  line-height: 35px;
}
